/* Base Code */

html {
  font-size: 16px;
  background-color: #FFF;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4rem;
}

.container {
  display: flex;
  margin: auto;
  align-content: center;
}

.column {
  flex-direction: column;
}

.desktop-image {
  height: auto;
  width: 100%;
}

.mobile-image {
  display: none;
}

h1, h2, h3 {
  font-family: 'Cormorant', 'Garamond', serif;
  font-weight: 700;
}

h1 {
  font-size: 2.75rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  text-align: center;
  line-height: 2;
}

h3 {
  font-size: 2.0rem;
  line-height: 3;
}


h4 {
  font-family: 'Cormorant', 'Garamond', serif;
  font-size: 1.75rem;
  font-weight: 600;
}

h5, h6, p, a, span {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h5 {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 3;
  font-style: italic;
  color: #747F7D;
}

h6 {
  line-height: 2;
}

p {
  font-size: 1rem;
  color: #747F7D;
  font-weight: 200;
}

a {
  color: #666;
  text-decoration: none;
  padding: 0 0.5rem 0 0.5rem;
  font-weight: 200;
}

.banner-image {
  width: 60%;
  height: auto;
}

.banner-image img {
  width: 100%;
  height: auto;
}

/* Header */

header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  background-color: #fff;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.logo img {
  min-height: 3rem;
}

.bold {
  font-weight: 700;
}

.name {
  font-weight: 200;
  color: #15CCA0;
}

nav li {
  display: inline-block;
  align-items: flex-end;
  padding: 1rem;
}

nav li a {
  color: #337f6d;
}

nav li:hover {
  opacity: 0.75;
  background-color: #e5e5e5;
}

.mobile-nav {
  display: none;
}

/* Media Queries - Navigation */

@media only screen and (max-width: 900px) {
  .desktop-nav, .logo {
    display: none;
  }
  nav {
    display: flex;
    width: 100%;
  }
  .mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
  }
}

/* Learning Section */

#learning {
  padding: 2rem 1.5rem;
  background-color: #C6E8E0;
}

#learning .banner-image {
  padding: 3rem 0 0 0;
}

.learning-text {
  margin-left: 2.5rem;
}

#learning h4 {
  margin: 2rem 0 1.5rem 0;
  color: #747F7D;
  font-weight: 200;
  line-height: 1.2;
}

.button {
  background-color: #747F7D;
  text-align: center;
  padding: 1rem;
  border-radius: 0.25rem;
  opacity: 0.75;
}

.button:hover {
  opacity: 1;
}

.button a {
  color: #fff;
}

/* Media Queries - Learning */

@media only screen and (max-width: 900px) {
  #learning {
    padding-top: 4rem;
  }
  #learning.container {
    flex-direction: column;
  }
  #learning .banner-image {
    width: 100%;
    padding: 0;
  }
  .learning-text {
    text-align: center;
    margin: 0;
  }
  #learning h4 {
    font-size: 1.5rem;
  }
}

/* Information Section */

#information {
  display: flex;
  width: 100%;
  height: auto;
}

.banner-image {
  padding: 2rem 1.5rem;
}

.info-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.info {
  display: inline-flex;
  align-items: center;
  padding: 1.5rem 0rem 1.5rem 1rem;
}

.info:hover {
  background-color: #e5e5e5;
}

.left {
  width: 30%;
}

.left img {
  height: auto;
  width: 100%;
  min-width: 8.75rem;
}

.info .right {
  flex-direction: column;
  line-height: 1.5;
  margin: 0 0.5rem 0 1.75rem;
  padding: 0 0.5rem 0 1.75rem;
}

.info a {
  padding: 0;
  font-style: italic;
}

/* Media Queries - Information */

@media only screen and (max-width: 900px) {
  #information .banner-image {
    display: none;
  }
  .info-boxes {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
    margin: 1rem;
    max-width: 90%;
  }
  .right {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

/* Courses Section */

#courses {
  background-color: #C6E8E0;
  line-height: 1.5;
}

.courses {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: left;
  margin-top: 0.5rem;
  margin-left: 10%;
}

.course {
  max-width: 28%;
  height: 19rem;
  margin-bottom: 2rem;
  background-color: #FFF;
  padding: 1rem 1rem 1.5rem 1rem;
}

.course:hover {
  box-shadow: 0.125rem 0.125rem 0.125rem #747F7D;
}

.course img {
  height: auto;
  width: 100%;
}

/* Media Queries - Courses */

@media only screen and (max-width: 900px) {
  #courses img, #courses h6, #courses p {
    display: none;
  }
  .container.courses {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    padding: 0;
    margin: auto;
  }
  .course {
    min-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    background-color: #C3C3C3;
    color: #FFF;
    padding-left: 1rem;
  }
}

/* Thesis */

video {
  width: 100%;
}

#thesis .banner-image {
  padding-top: 0;
}

#thesis .info-boxes {
  justify-content: flex-start;
}

/* Media Queries - Thesis */

@media only screen and (max-width: 900px) {
  #thesis .info-boxes, #thesis h3, #thesis p {
    display: none;
  }
  #thesis .banner-image {
    width: 100%;
    padding: 0;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  border-top: 0.00625rem solid #e6e6e6;
  font-size: 0.75rem;
}

footer a {
  padding-left: 2rem;
}

/* Media Queries - Footer */

@media only screen and (max-width: 900px) {
  .desktop-only {
    display: none;
  }
}
